@charset "UTF-8";

.loginDiv {
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	border: 4px solid #545454;
}

#loginform {
	width: 100%;
	display: inline-block;
	text-align: center;
	height: 600px;
}

.loginbtn, .enrollbtn {
	all: unset;
	background-color: #545454; 
	font-size: 24px;
	color: white;
	padding: 10px;
	padding-right: 60px;
	padding-left: 60px;
	border-radius: 12px;
	margin-top : 20px;
	margin-bottom : 20px;
}

input {
	margin: 10px;
	border: 6px solid #545454;
	width: 400px;
	height: 50px;
	font-size: 24px;
}

.logintext {
	padding-top: 20px;
	font-size: 30px;
	color: #545454;
}